<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlistchangeJson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BB6230461C325A0B003AD978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB62305F1C325A0C003AD978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BB62306A1C325A0C003AD978</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
